.form__container {
   width: 396px;
   height: 100%;
   margin: 0 auto;
   padding-top: 232px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
  } 
  
  .form__title {
    margin: 40px 0 40px; 
    font-family: Inter;
    font-style: normal;   
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1A1B22;
  }
  .form__form {
    display: flex;
  }

  .form__input {
    width: 100%;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    border: none;
    outline:none;
    padding: 0px 2px 5px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .form__line {
    border-bottom: 1px solid black;
    /* border-bottom: 1px solid #E8E8E8; */
    margin-bottom: 0;
  }

  .form__input:last-of-type {
    margin-bottom: 0;
  }

  .form__label {
    text-align: left;
    font-size: 11px;
    line-height: 13px;
    color: black;
    margin: 0;
  }
  .form__input {
    display: inline;
    text-align: right;
    font-size: 11px;
    line-height: 13px;
    color: black;
    margin: 0;
  }
  .form__input_error {
    min-height: 10px;
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-bottom: 10px;
  }
  .form__link-container {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
  }

  .form__link-text {
      display: inline-block;
      margin: 0 auto 16px ;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: black;
  }

  .form__link-btn {
    box-sizing: content-box;
    margin: 0;
    border: none;  
    background-color:white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color:#EE3465;  
  }

  .form__link-btn:hover {
    opacity: 0.6;  
    cursor: pointer;
    transition: opacity 0.7s ease;
  }


  @media only screen and (max-width:600px){
    .form__container{
      margin: 0 auto;
      max-width: 320px;
      padding-top: 56px 30px 0;
      text-align: center;
      
    }
    .form__title {
      margin: 50px auto 80px; 
  
    }
    .form__form {
      
    }
  }